
#game-board {
  --cell-size: 24px;

  width: fit-content;
  margin: 0 auto;
  padding: 5px;

  display: grid;
  grid-template-columns: repeat(10, var(--cell-size));
  grid-auto-rows: var(--cell-size);
  gap: 2px;

  background-color: black;
}

.cell {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(146, 134, 179);
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

dt {
  font-weight: bold;
  text-align: right;
}

dd {
  margin: 0;
}

.cell img {
  width: 100%;
  height: 100%;
  padding: 10%;
  box-sizing: border-box;
  background-color: aliceblue;
}

.container {
  margin-top: 20px;
  background-color: rgb(241, 229, 201);
  padding-bottom: 20px;
}

body {
  background-color: rgb(216, 149, 149);
}